@include block ('newsletter') {
  background-color: $color-background-newsletter;
  clear: both;
  color: $color-text-newsletter;
  padding: s(2) s(2);
  line-height: 1.6;
  margin-bottom: s(2);

  @include element ('title') {
    @include title-uppercase;
  }

  @include element ('text') {
    @include title-uppercase;
    user-select: none;

    @include modifier ('margin-bottom') {
      margin-bottom: s(2);
    }

    @include modifier ('hidden') {
      display: none;
    }

    @include modifier ('tip') {
      color: $color-text-newletter-tip;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }
  }

  @include element ('fake-submit') {
    &:hover + {
      @include element ('text') {
        opacity: 1;
      }
    }
  }

  @include element ('email') {
    @include where-when;
    background-color: $color-background-form;
    border: 0;
    border-bottom: 2px solid $color-text-form;
    color: $color-text-form;
    display: block;
    font-size: 20px;
    margin-top: s(2);
    padding: s(2) s(2);
    text-transform: lowercase;
    transition: border 0.25s ease-in-out;
    width: 100%;

    @include media ('>mobile-small') {
      font-size: 28px;
    }

    @include media ('>mobile-large') {
      font-size: 32px;
    }

    @include media ('>tablet-small') {
      font-size: 56px;
    }

    @include media ('>tablet-large') {
      font-size: 72px;
    }

    &:focus {
      // border-bottom-color: $color-background-action;
      outline: 0;

      &::placeholder {
        color: mix($color-text-form, $color-background-form, 15%);
      }
    }

    &::placeholder {
      color: mix($color-text-form, $color-background-form, 40%);
      transition: color 0.25s ease-in-out;
    }

    @include modifier ('invalid') {
      &::placeholder {
        color: $color-background-action;
        text-transform: none;
      }
    }
  }

  @include element ('language') {
    @include title-uppercase;
    margin-top: s(2);
    user-select: none;

    label {
      cursor: pointer;
    }
  }

  @include element ('link') {
    @include title-uppercase;
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease-in-out;

    &:hover {
      // color: $color-text-info;
    }
  }

  @include input-newsletter('radio', 'icon-circle', 'icon-circle-empty');
  @include input-newsletter('checkbox', 'icon-check', 'icon-check-empty', -5px);

  @include element ('radio') {
    span { border-bottom: 1px dotted $color-white; }
  }

  @include element ('checkbox') {
    span { border-bottom: 1px dotted $color-white; }
  }
}
