<section class="main-color">
  <section class="limit limit--no-overflow">
    <div class="conf-infos">
      <div class="conf-infos__column">
        <h4 class="conf-infos__title">
          What is it?
        </h4>
        <p class="conf-infos__text">
          RubyDay 2020 is the 8th edition of the Italian Ruby conference, now for the first time organized by GrUSP,
          organizers of events like phpday and jsday.
        </p>
        <p class="conf-infos__text">
          The event’s goal is to allow Italian Rubyists to meet and share experience while having fun and networking in
          an enjoyable context. To reach this goal we are organizing 3 different events on April 1st and 2nd: a conference,
          a workshop and a RailsGirls workshop!
        </p>
      </div>

<!--      <div class="conf-infos__column">-->
<!--        <h4 class="conf-infos__title">-->
<!--          When?-->
<!--        </h4>-->
<!--        <p class="conf-infos__text">-->
<!--          <strong>Thursday, April 11th: <a href="{{ site.baseurl }}/talks.html" style="color:#ebeef4;">the conference</a></strong><br />-->
<!--          <strong>Wednesday, April 10th: <a href="{{ site.baseurl }}/training.html" style="color:#ebeef4;">the workshop</a></strong><br />-->
<!--          Tickets sold separately. Creare un applicativo con Rails e Vue.js - in Italiano / Italian language<br />-->
<!--          <strong>RailsGirls</strong><br />-->
<!--          On Wednesday, April 10th we’ll also host a workshop aimed at women with basic knowledge of web development.-->
<!--          Participants will discover the exciting world of web development through Ruby on Rails.-->
<!--          Info: <a href="http://railsgirls.com/verona2019.html" style="color:#ebeef4;">http://railsgirls.com/verona2019.html</a>. Applications are open!-->
<!--        </p>-->
<!--      </div>-->

    </div>
  </section>
</section>
