<div class='sponsors'>
  <div class="speakers-title">
  <div class="mega-info mega-info--huge">
    <div class="mega-info__number">2</div>
    <div class="mega-info__text">Workshops</div>
  </div>
  </div>
  <div class='limit'>
    <div class="row row--2">
      <p class="row__column">
        <span class="training-intro__home">
          Rails + Vue.js
        </span>
        <br />
        <br />
        In this workshop we will see how to develop a Rails app using VueJS for the frontend components.<br />
        We will focus on integrating VueJS with Rails, combining the power and simplicity of the two frameworks. Italian only.
        <br />
        <br />
        <a href="/training.html" class="button button--register">
            Learn more
        </a>
      </p>
      <p class="row__column">
        <span class="training-intro__home">
          RailsGirls
        </span>
        <br />
        <br />
        An event dedicated to girls who want to get closer to the world of programming: this is the purpose of Rails Girls.<br />A free day workshop in which we will learn the basics of web programming with Ruby on Rails together.
        <br />
        <br />
        <a href="http://railsgirls.com/verona2019.html" class="button button--register" target="_blank">
            Register
        </a>
      </p>
    </div>
  </div>
</div>
