$base: #5d4ca0;
$black: #403c4e;
$gray0: #f9f9fa;
$gray1: #edecf0;
$gray2: #e1dfe6;
$gray3: #d3d1da;
$gray4: #c4c2ce;
$gray5: #b4b1c0;
$gray6: #a19db0;
$gray7: #8a869d;
$gray8: #6e6886;
$gray9: #403c4e;
$gray20: #ebeef4;
$gray21: #d5dbe9;
$gray22: #bdc6dc;
$gray23: #a0aecd;
$gray24: #7d8fba;
$gray25: #4c65a0;
$gray26: #445a8f;
$gray27: #3b4f7d;
$gray28: #304066;
$gray29: #212d47
